<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982339729090-vq5qa0de87ufvupcup5lanmls06u2d25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982339729090-vq5qa0de87ufvupcup5lanmls06u2d25</string>
	<key>API_KEY</key>
	<string>AIzaSyCXgTUCAHxTOpy-vesThlFZ1aZuidSY_58</string>
	<key>GCM_SENDER_ID</key>
	<string>982339729090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usc.edu</string>
	<key>PROJECT_ID</key>
	<string>swift-3172e</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-3172e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:982339729090:ios:c62016ddc80037d6dd2d5b</string>
	<key>DATABASE_URL</key>
	<string>https://swift-3172e.firebaseio.com</string>
</dict>
</plist>
